.category_hero {
  transform: none !important;
  padding: 204px 24px 87px !important;
  main {
    position: relative;
  }
  h2 {
    display: flex;
    align-items: baseline;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 81px;
    letter-spacing: -0.03em;
    color: var(--primary-text-color);
    div {
      margin-left: 12px;
      svg {
        path {
          fill: var(--mobile-nav-text-color);
        }
        stroke: var(--mobile-nav-text-color);
      }
      display: flex;
      align-items: center;
      span {
        font-style: normal;
        color: var(--mobile-nav-text-color);
        font-weight: normal;
        font-size: 22px;
        line-height: 27px;
      }
    }
  }
  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: var(--secondary-text-color);
    margin: -8px 0 56px;
    width: 100%;
    max-width: 564px;
    a {
      color: var(--tertary-text-color);
      text-decoration: underline;
    }
  }
  .scroll {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: var(--header-text-color);
    svg {
      margin-right: 12px;
      stroke: var(--header-text-color);
    }
  }
}

.max_width {
  width: 100%;
  max-width: 1268px;
  padding: 0 33px;
  margin: auto;
}

.bg_color_article {
  background: var(--secondary-background);
  padding-bottom: 84px;
}

.article_container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(auto, 394px));
  grid-row-gap: 64px;
  grid-column-gap: 36px;
  padding: 47px 24px 0 !important;
}

.paginate {
  button {
    background: none;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;

    color: var(--paginate-primary-color);
    border: none;
    svg {
      stroke: var(--paginate-primary-color);
      margin-left: 12px;
    }
    .left {
      margin: 0 12px 0 0;
    }
  }

  .link {
    gap: 16px;
    align-items: center;
    justify-items: center;
    a {
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      padding: 0 2px;text-align: center;
      letter-spacing: 0.03em;

      color: var(--paginate-secondary-color);
    }
    span {
      color: var(--paginate-secondary-color);
    }
  }
}
.page {
  font-weight: bold !important;
  font-size: 18px !important;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paginate-primary-color) !important;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.34);
}

@media screen and (max-width: 768px) {
  .category_hero {
    margin-top: 83px !important;
  }
  .article_container {
    grid-template-columns: repeat(2, minmax(auto, 394px));
  }
}

@media screen and (max-width: 500px) {
  .category_hero {
    padding-bottom: 0px !important;
    h2 {
      font-size: 30px;
      line-height: 49px;
      div {
        span {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    p {
      margin-top: 0px !important;
    }
    .max_width {
      padding: 30px 33px !important;
    }
  }
  .bg_color_article {
    background: var(--mobile-article-background);
  }

  .link {
    gap: 8px !important;
  }
  .scroll {
    font-size: 0.75rem !important;
  }
  .left {
    margin: 0 8px 0 0 !important;
  }
  .paginate button {
    svg {
      margin-left: 8px !important;
    }
  }
  .article_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: 580px) {
  .fixed_category {
    position: sticky;
    right: 0px;
    left: 0px;
    top: 0px;
    background: var(--primary-background-blur);
    backdrop-filter: blur(16px);
    z-index: 5;
    .category_hero {
      margin-top: 0 !important;
      padding-top: 113px !important;
    }
    .gradient_container {
      overflow: hidden !important;
      overflow-clip-margin: unset !important;
      .gradient {
        top: 120px !important;
      }
    }
  }
}

.gradient_container {
  position: relative;
  overflow-y: clip;
  overflow-clip-margin: 500px;
  .gradient {
    position: absolute;
    width: 384.97px;
    height: 169.15px;
    right: 200px;
    top: 257px;
    background: var(--single-post-gradient);
    filter: blur(130px);
    z-index: -10;
  }
}
