footer {
  .about_container {
    display: flex;
    width: 100%;
    max-width: 1268px;
    padding: 44px 24px 0;
    margin: 0 auto 54px;

    .projects_support {
      width: 100%;
      max-width: 576px;

      .header {
        display: flex;
        flex-direction: row;
        margin: 0 0 24px;
        align-items: center;
        * {
          width: 100%;
        }
        .hr {
          border-bottom: 1px solid var(--suppport-line-color);
          margin-left: $spacing-4;
        }
        h2 {
          font-size: $font-size-6;
          max-width: fit-content;
          line-height: 26px;
          letter-spacing: 0.03em;
          color: var(--article-primary-color);
        }
      }
      .projects {
        margin-bottom: 108px;
        .project_item:last-child {
          margin-top: 36px;
        }
        .project_item {
          line-height: 26px;
          display: flex;
          align-items: center;
          .left {
            margin-left: $spacing-4;
          }
          p {
            font-weight: bold;
            font-size: $font-size-6;
            line-height: 26px;
            letter-spacing: -0.03em;
            color: var(--article-primary-color);
          }
          span {
            letter-spacing: -0.03em;
            a {
              font-weight: bold;

              text-decoration: underline;
            }
          }
        }
      }
      .support {
        svg {
          stroke: var(--primary-text-color);
        }
        display: flex;
        align-items: center;
        div {
          line-height: 26px;
          margin-left: $spacing-4;
        }
        p {
          font-weight: bold;
          font-size: $font-size-6;
          line-height: 26px;
          letter-spacing: -0.03em;
          color: var(--article-primary-color);
        }
        span {
          letter-spacing: -0.03em;
          color: var(--article-secondary-color);

          a {
            color: var(--article-accent-color);
            font-weight: bold;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .menu_bg {
    display: flex;
    justify-content: center;
    background: var(--footer-bg-color);
    .menu {
      display: flex;
      padding: 55px 24px;
      justify-content: space-between;
      width: 100%;
      max-width: 1268px;
      align-items: center;
      a {
        font-weight: 500;
        font-size: $font-size-6;
        line-height: 20px;
        letter-spacing: -0.03em;
        padding: 10px 8px;
        text-decoration: underline;
        margin-right: 36px;
        color: var(--paginate-primary-color);
      }
      a:last-child {
        margin-right: 0px;
      }
      p {
        font-size: $font-size-6;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.03em;
        color: var(--paginate-primary-color);
        padding: 10px 17.5px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about_container {
    background: var(--secondary-background);
    padding: 0 33px !important;
    margin: 0 !important;
    .vertical_line {
      display: none;
    }
    .projects_support {
      .header {
        h2 {
          width: 222% !important;
          line-height: 29px !important;
        }
      }
      .projects {
        margin-bottom: 48px !important;
      }
      .project_item:last-child {
        margin-top: 50px !important;
      }
      .project_item {
        flex-direction: column;
        align-items: flex-start !important;
        div {
          margin: 12px 0 0 !important;
        }
      }
    }
  }
  .hidden {
    display: none !important;
  }
  .support {
    flex-direction: column;
    align-items: flex-start !important;
    margin-bottom: 149px;
    div {
      margin: 12px 0 0 !important;
    }
  }
}

@media screen and (max-width: 990px) {
  .menu {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center !important;
    padding: 20.47px 0 !important;

    p {
      padding: 10px 21.5px;
    }

    .menu_items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      a {
        text-align: center;
        margin-right: 16px !important;
      }

      a:last-child {
        margin-right: 0px !important;
      }
    }
  }
}

@media screen and (max-width: 849px) {
  .menu_items {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .about_container {
    background: var(--mobile-article-background);
  }
}
