header {
  position: fixed;
  top: 0px;
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  max-height: 101px;
  z-index: 10;
  backdrop-filter: blur(10px);
  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0;
    height: 100%;
    min-height: 63px;
    max-height: 63px;
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    width: 100%;
    max-width: 1220px;
    margin: 0 auto !important;

    nav {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;

      .active {
        font-weight: 700;
      }
      a {
        font-size: $font-size-6;
        line-height: 20px;
        letter-spacing: -0.03em;
        color: var(--header-text-color);
        padding: 10px;
        margin-left: 36px;
      }
    }
    .menu_icon {
      display: none;
    }

    hr {
      border-bottom: -0.5px solid var(--header-line-color);
    }
  }
}

.mode {
  display: flex;
  align-items: center;
  button {
    background: none;
    border: none;
  }
}

.logo {
  font-family: "Clash Grotesk", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-right: 12px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: var(--logo-color);
}

.mode_show {
  width: 24px;
  height: 24px;
  display: block !important;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  header {
    padding: 0 43px !important;
    display: flex;
    align-items: center;
    .header_container {
      justify-content: center;
      padding: 0px;
      div {
        margin: 0;
      }
    }

    div {
      margin-bottom: 0px;
      .menu_icon {
        stroke: var(--logo-color);
        fill: var(--logo-color);
      }
    }
  }
}

@media screen and (max-width: 1259px) {
  header {
    padding: 23px 24px;
  }
}
@media screen and (max-width: 900px) {
  .header_container {
    padding-top: 0px !important;
  }
  .hide {
    display: none !important;
  }
  header {
    height: 100%;
    max-height: 83px;
  }

  svg {
    display: block !important;
    fill: var(--logo-color);
    stroke: var(--logo-color);
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 23px 24px;
  }
}
