.home_hero {
  padding: 217px 24px !important;
  position: relative;
  overflow-y: clip;
  .gradient {
    position: absolute;
    width: 384.97px;
    height: 363.28px;
    right: 0px;
    top: 209.78px !important;
    background: #dd94ef;
    background: rgba(161, 54, 188, 0.8);
    opacity: var(--home-gradient-color);
    filter: blur(200px);
  }
  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 81px;
    letter-spacing: -0.03em;
    color: var(--primary-text-color);
  }
  p {
    font-family: "General Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: var(--secondary-text-color);
    margin: -8px 0;
    width: 100%;
    max-width: 564px;
    span {
      color: var(--tertary-text-color);
      text-decoration: underline;
      font-weight: $font-weight-2;
    }
  }
  .scroll {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: var(--header-text-color);
    svg {
      margin-right: 12px;
      stroke: var(--header-text-color);
    }
  }
}

.hero_fixed * {
  transition: 200ms ease-out !important;
}

.home_subcategory {
  display: none;
}

.max_width {
  width: 100%;
  max-width: 1268px;
  padding: 0 33px;
  margin: auto;
}

.bg_color_article {
  background: var(--secondary-background);
  padding-bottom: 84px;
}

.article_container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(auto, 394px));
  grid-row-gap: 64px;
  grid-column-gap: 36px;
  padding: 47px 24px 0 !important;
}

.paginate {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 461px;
  padding: 0 24px;
  margin: 100px auto 0;
  button {
    background: none;
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;

    color: var(--paginate-primary-color);
    border: none;
    svg {
      stroke: var(--paginate-primary-color);
      margin-left: 12px;
    }
    .left {
      margin: 0 12px 0 0;
    }
  }

  .link {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-items: center;
    button {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      padding: 0 2px;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--paginate-secondary-color);
    }
    span {
      color: var(--paginate-secondary-color);
    }
  }
}
.page {
  font-style: normal;
  font-weight: bold !important;
  font-size: 18px !important;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paginate-primary-color) !important;
  text-shadow: 0px 2px 50px rgba(0, 0, 0, 0.34);
}

@media screen and (max-width: 768px) {
  .article_container {
    grid-template-columns: repeat(2, minmax(auto, 394px));
  }
}

@media screen and (max-width: 500px) {
  .fixed_home {
    position: sticky;
    right: 0px;
    left: 0px;
    top: 0px;
    z-index: 5;
  }
  .home_subcategory {
    display: block;
  }
  .home_hero {
    overflow: hidden !important;
    backdrop-filter: blur(16px);
    .gradient {
      width: 128.06px !important;
      height: 189.94px !important;
      filter: blur(102px);
      right: 0 !important;
    }
    h2 {
      font-size: 30px;
      line-height: 49px;
    }
    p {
      margin-top: 0px !important;
      font-size: 15px;
      line-height: 24px;
      padding-bottom: 110px;
    }
  }
  .bg_color_article {
    background: var(--mobile-article-background);
  }
  .max_width {
    padding: 130px 33px 0 !important;
  }
  .link {
    gap: 8px !important;
  }
  .scroll {
    font-size: 0.75rem !important;
  }
  .left {
    margin: 0 8px 0 0 !important;
  }
  .paginate button {
    svg {
      margin-left: 8px !important;
    }
  }
  .article_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: 540px) {
  .fixed_style {
    transition: 100ms;
    position: sticky;
    background: var(--primary-background-blur);
    backdrop-filter: blur(16px);
    top: 83px;
    width: 100vw;
    margin: 0;
    .home_hero {
      padding: 30px 33px 0px !important;
      margin: 0 !important;
      p {
        overflow: hidden;
        height: 0px;
        margin: 0 !important;
      }
    }
    .sub__category_fixed {
      position: sticky;
      top: 160px;
    }
  }
  .sub__category_fixed {
    position: sticky;
    top: 160px;
  }
  .static_style {
    position: sticky;

    background: var(--primary-background-blur);
    backdrop-filter: blur(16px);
    top: 83px;
    width: 100vw;
    margin: 0;
    .home_hero {
      padding: 30px 33px 0px !important;
    }
  }
}

.no_post {
  padding: 24px 33px 0px !important;
  text-align: center;
  color: var(--blog-post-primary-text-color);
}
@media screen and (min-width: 501px) {
  .home_hero {
    p {
      padding-bottom: 0 !important;
      height: fit-content !important;
    }
  }
  .fixed_home {
    .mobile_nav {
      display: none;
    }
  }
}
