.not_found_container {
  position: relative;
  min-height: calc(100vh - 120px);
  padding-top: 194px;
  max-width: 1260px;
  margin: 95px auto 0;
  .not_found {
    width: 100%;

    div {
      width: 100%;
      max-width: 611px;
      h2 {
        font-size: 3.125rem;
        line-height: 81px;
        letter-spacing: -0.03em;
        color: var(--primary-text-color);
      }

      p {
        font-family: "Satoshi", sans-serif;
        font-size: $font-size-4;
        line-height: 29px;
        margin: -8px 0 24px;
        color: var(--blog-post-secondary-color);
      }
    }
  }
}

.absolute {
  position: absolute;
  width: 50vw;
  background-position: right;
  height: 500px;
  right: 0px;
  top: var(--page-top);
  background-image: var(--home-gradient-color);
  filter: blur(100px);
  background-repeat: no-repeat;
  z-index: -10;
}

@media screen and (max-width: 1259px) {
  .not_found_container {
    padding-left: $spacing-2;
    padding-right: $spacing-2;
  }
}

@media screen and (max-width: 540px) {
  .not_found_container {
    padding: 169px 32px 0 !important;
    .absolute {
      top: unset;
      bottom: 0px;
      width: 200px;
      height: 200px;
      filter: blur(120px);
    }
    .not_found {
      div {
        letter-spacing: 0.03em;
        h2 {
          font-size: 2rem;
          line-height: 45px;
        }
        p {
          font-size: $font-size-8;
          line-height: 23px;
          margin-top: 0px !important;
        }
      }
    }
  }
}
