.Post {
  &:focus,
  &:hover {
    transition-duration: 300ms;
    opacity: 0.7;
  }

  article {
    width: 100%;
    min-height: 274px;
    border-bottom: 1px solid var(--article-line-color);
    padding-bottom: 8px;

    > div {
      div span {
        font-size: $font-size-9;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: var(--article-tag-color);
      }

      h3 {
        font-size: $font-size-2;
        height: 60px;
        overflow: hidden;
        line-height: 30px;
        color: var(--article-primary-color);
        margin: $spacing-7 0;
      }

      > span {
        font-size: $font-size-9;
        line-height: 15px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--article-accent-color);
      }
    }

    p {
      font-size: $font-size-7;
      font-family: "Satoshi", sans-serif;
      line-height: 24px;
      color: var(--article-secondary-color);
      margin: $spacing-9 0 $spacing-2;
    }

    > span {
      display: inline-flex;
      align-items: center;
      font-weight: $font-weight-1;
      font-size: $font-size-8;
      line-height: 17px;
      letter-spacing: 0.03em;
      text-decoration-line: underline;
      text-underline-offset: 4px;
      color: var(--article-primary-color);
      svg {
        margin-left: $spacing-6;
        stroke: var(--article-primary-color) !important;
      }
    }

    .line {
      margin-top: 36px;
    }
  }
}

@media screen and (max-width: 500px) {
  article {
    padding-bottom: 0px !important;
    min-height: unset !important;
    
    > div {
      h3 {
        min-height: unset !important;
      }
    }

    a {
      margin-bottom: 8px;
    }

    .line {
      margin-top: $spacing-2 !important;
    }
  }
}
