.post_article {
  cursor: pointer;
  width: 100%;
  min-height: 274px;
  padding-bottom: 8px;
  .info {
    .tag {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
      color: var(--article-tag-color);
    }
    h3 {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      min-height: 60px;
      line-height: 30px;
      color: var(--article-primary-color);
      margin: 4px 0;
    }
    .timestamp {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--article-accent-color);
    }
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    min-height: 72px;
    color: var(--article-secondary-color);
    margin: 12px 0 24px;
  }
  a {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--article-primary-color);
    svg {
      margin-left: 8px;
      stroke: var(--article-primary-color) !important;
    }
  }
  .line_divider {
    padding-top: 36px;
    border-bottom: 1px solid var(--article-line-color);
  }
}

@media screen and (max-width: 500px) {
  .post_article {
    a {
      margin-bottom: 8px;
    }
    .line_divider {
      padding-top: 24px !important;
    }
  }
}
