@media screen and (max-width: 768px) {
  .single_post_padding {
    padding: 136px 0 41px !important;

    .post_info {
      h2 {
        font-size: 28px !important;
        line-height: 120% !important;
        letter-spacing: -0.03em !important;
        margin: 4px 0;
      }
    }
  }
  .post__details {
    background: var(--secondary-background);
    padding-bottom: 64px !important;
  }
  .contributions {
    margin-top: 48px !important;
  }
  .contributions_bg_color {
    flex-direction: column;
    align-items: flex-start !important;
    p {
      margin: 4px 0 0 !important;
    }
  }
  .none {
    display: none;
  }
  .gradient {
    top: 277px !important;
    width: 189.47px !important;
    height: 243.15px !important;
    right: 20px !important;
  }
}
.single_post_padding {
  overflow: clip;
  overflow-clip-margin: 69px;
  position: relative;
  padding: 197px 0 24px;
  .gradient {
    position: absolute;
    width: 384.97px;
    height: 169.15px;
    // left: 965.03px;
    right: 200px;
    top: 97.68px;
    z-index: -10;
    background: var(--single-post-gradient);
    filter: blur(151px);
    opacity: var(--single-post-gradient-opacity);
  }
}

.single_post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1291px;
  padding: 0 33px;
  margin: 0 auto;

  .post_info {
    span:first-child {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #bb66ef;
    }

    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 120%;
      letter-spacing: -0.03em;
      width: 100%;
      max-width: 1046px;
      color: var(--paginate-primary-color);
    }
    span:last-child {
      font-size: 14px;
      line-height: 23px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: var(--single-post-accent-color);
    }
  }
  div:last-child {
    a {
      font-weight: bold;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 0.03em;
      margin-right: 8px;
      text-decoration-line: underline;

      color: var(--paginate-primary-color);
    }
    svg {
      stroke: var(--paginate-primary-color);
    }
  }
}

figure {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
  figcaption {
    font-size: 14px;
    line-height: 23px;
    letter-spacing: -0.03em;
    color: #7c7676;
    margin-top: 4px;
    text-align: center;
  }
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 32px;
  color: var(--blog-post-primary-text-color);
}

.hr {
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--suppport-line-color);
}
.share_link {
  div:first-child {
    display: flex;
    align-items: center;
    p {
      color: var(--blog-post-secondary-color);
      width: 100%;
      margin-right: 16px;
      max-width: fit-content;
    }
  }
  .link {
    flex-wrap: wrap;
    width: 100%;
    max-width: 621px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    margin: 31px auto;
  }
  margin-top: 48px;
  span {
    color: #d9d9d9;
  }
  a {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: var(--paginate-primary-color);
    text-decoration: underline;
  }
}

.contributions {
  display: flex;
  margin-top: 100px;
  align-items: center;
  p {
    color: var(--blog-post-secondary-color);
    margin-right: 16px;
    width: 100%;
    max-width: fit-content;
  }
}
.read {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 618px;
  margin: auto;
  :hover {
    opacity: 0.8;
  }
  a:first-child {
    div {
      align-items: flex-start;
      span {
        text-align: left;
      }
    }
  }
  a {
    div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      max-width: 240px;
      font-size: 0.8rem;

      span {
        margin-top: 4px;
        font-size: 1rem;
        font-weight: bold;
        text-align: right;
      }
    }
    svg {
      path {
        fill: var(--paginate-primary-color);
        stroke: var(--paginate-primary-color);
      }
      fill: var(--paginate-primary-color);
      stroke: var(--paginate-primary-color);
    }
    color: var(--paginate-primary-color);
    display: inline-flex;
    gap: 8px;
    align-items: center;
  }
}
.contributions_bg_color {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--blog-contributions-bg-color);
  max-width: 612px;
  margin: 33px auto 64px;
  padding: 24px 20px;
  p {
    color: var(--blog-contributions-text-color);
    margin-left: 24px;
  }
}

.post__details {
  padding: 0 33px;
  width: 100%;
  max-width: 894px;
  margin: auto;
}

@media screen and (max-width: 1020px) {
  .single_post {
    flex-direction: column;
    align-items: flex-start;
    .share {
      margin-top: 24px;
    }
  }
}

.post_content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold !important;
  }
  padding-top: 36px;
  h1 {
    font-style: normal;
    font-size: 40px;
    line-height: 50px;
    margin: 16px 0 12px;
    color: var(--blog-header-color);
  }
  h2 {
    font-style: normal;
    font-size: 32px;
    line-height: 52px;
    margin: 24px 0 16px;
    color: var(--blog-header-color);
  }
  h3 {
    margin: 16px 0 12px;
    font-style: normal;
    font-size: 28px;
    line-height: 45px;
    color: var(--blog-header-color);
  }
  h4 {
    font-style: normal;
    font-size: 24px;
    line-height: 39px;
    color: var(--blog-header-2-color);
  }
  h5 {
    font-style: normal;
    font-size: 20px;
    line-height: 32px;
    color: var(--blog-header-2-color);
  }
  pre {
    width: 100%;
    max-width: 680px;
    margin: 32px auto;
  }
  p,
  ol li,
  ul li,
  cite {
    font-family: "General Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: var(--blog-post-primary-text-color);
  }
  ul,
  ol {
    padding-left: 32px;
  }
  p {
    margin-bottom: 20px;
  }
  p img {
    width: 100%;
    object-fit: fill;
    max-width: 540px;
    height: auto;
    max-height: 375px;
    margin: 16px auto 32px;
  }
  li strong,
  ul strong {
    font-size: 17px;
  }
  a {
    text-decoration: underline;
  }
  ul li:last-child,
  ol li:last-child {
    margin-bottom: 24px;
  }
}
blockquote {
  border-left: 2px solid var(--blockquote-line-color);
  padding-left: 24px;
  margin: 16px 0 0 24px;
}

@media screen and (max-width: 540px) {
  .post_content {
    padding-top: 24px !important;
    h1 {
      font-size: 28px;
      line-height: 35px;
    }
    h2 {
      font-size: 24px;
      line-height: 39px;
    }
    h3 {
      font-size: 20px;
      line-height: 32px;
    }
    h4 {
      font-size: 18px;
      line-height: 29px;
    }
    h6 {
      font-size: 16px;
      line-height: 26px;
    }
    p {
      font-size: 16px;
      line-height: 30px;
    }
    img {
      margin: 0px auto 16px !important;
    }
    li {
      font-size: 17px;
      line-height: 27px;
      color: var(--blog-list-color) !important;
    }
  }
  blockquote {
    padding: 0px 14px;
    margin: 16px 0px;
  }
  figure {
    padding-top: 24px;
  }
  .read {
    flex-direction: column;
    a:last-child {
      margin-top: 32px;
      justify-content: flex-end;
    }
  }
}
