.mobile_nav {
  background: var(--mobile-nav-background);
  padding: 0 44px 0 33px;
  display: flex;
  position: relative;
  align-items: center;
  border-bottom: 0.5px solid var(--mobile-nav-line-color);

  .container {
    width: 100%;
    max-width: 1220px;
    margin: auto;
    padding: 27px 24px 24px;

    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    align-items: flex-end;
    a {
      transition: none;
      margin-right: 16px;
      padding: 0 16px;
      white-space: nowrap;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: var(--mobile-nav-text-color);
      text-align: center;
    }
    .active {
      transition: none;
      color: var(--primary-text-color);
      font-weight: bold;
    }
  }
  .more_btn {
    position: absolute;
    right: 42px;
    padding: 3px;
    border-radius: 50%;
    background: var(--mobile-nav-btn-bg-color);

    svg {
      path {
        fill: var(--primary-text-color);
      }
      stroke: var(--primary-text-color);
    }
  }
}

@media screen and (min-width: 580px) {
  .mobile_nav {
    .container {
      padding: 27px 0px 24px !important;
    }
    .more_btn {
      display: none;
    }
  }
}
@media screen and (max-width: 580px) {
  .mobile_nav {
    .container {
      padding: 27px 0px 24px !important;
    }
  }
}
