// FONT SIZES
$font-size-0: 2.125rem;
$font-size-1: 1.75rem;
$font-size-2: 1.5rem;
$font-size-3: 1.25rem;
$font-size-4: 1.125rem;
$font-size-5: 1.0625rem;
$font-size-6: 1rem;
$font-size-7: 0.9375rem;

// FONT WEIGHTS
$font-weight-1: 700;
$font-weight-2: 600;
$font-weight-3: 500;
$font-weight-4: 400;

// SPACINGS
$spacing-0: 2.5rem;
$spacing-1: 2rem;
$spacing-2: 1.5rem;
$spacing-3: 1.25rem;
$spacing-4: 1rem;
$spacing-5: 0.625rem;
$spacing-6: 0.5rem;
$spacing-7: 0.25rem;
$spacing-8: 0.875rem;
$grid-gap: $spacing-3;

$transition-1: all 0.5s cubic-bezier(0.49, 0.11, 0.6, 1);