[data-theme="light"] {
  --logo-color: #000000;
  --header-text-color: #000;
  --header-line-color: #000000;

  --primary-text-color: #000000;
  --secondary-text-color: #1c1c1c;
  --tertary-text-color: #7c7676;

  --suppport-line-color: #f3f3f3;

  --primary-background: #ffffff;
  --primary-background-blur: rgba(255, 255, 255, 0.4);
  --secondary-background: #ffffff;

  --article-primary-color: #1c1c1c;
  --article-line-color: #f3f3f3;
  --article-background: #ffffff;
  --article-tag-color: #bb66ef;
  --article-accent-color: #525a61;
  --article-secondary-color: #6d6d6d;

  --paginate-primary-color: #000000;
  --paginate-secondary-color: #8c8c8c;

  --project-accent-color: #6d6d6d;

  --footer-bg-color: #f6f6f6;

  // --blur-effect: url(../../assets/home-ellipse-1.png),
  // url(../../assets/home-ellipse-2.png);

  --blur-effect-position: bottom -500px right 0px, bottom -150px right 55px;

  --mobile-article-background: #fbfbfb;
  --mobile-nav-background: #ffffff;
  --mobile-nav-line-color: #f3f3f3;

  --mobile-nav-btn-bg-color: #f8f8f8;
  --mobile-nav-text-color: #77848b;
  --mobile-nav-text-color: #77848b;

  --single-post-accent-color: #7c7676;

  --blog-post-primary-text-color: #313131;
  --blog-post-secondary-color: #464646;
  --blog-contributions-bg-color: #fafafa;
  --blog-contributions-text-color: #464646;
  --blog-header-color: #161616;
  --blog-header-2-color: #313131;
  --blog-list-color: #313131;
  --blockquote-line-color: #1c1c1c;
  --single-post-gradient: rgb(221, 148, 239);
  --single-post-gradient-opacity: 0.5;
  --home-gradient-opacity: 0.9;
}

[data-theme="dark"] {
  --logo-color: #f6f6f6;
  --header-text-color: #f6f6f6;
  --header-line-color: #676767;

  --suppport-line-color: #676767;

  --primary-text-color: #ffffff;
  --secondary-text-color: #f6f6f6;
  --tertary-text-color: #bdbdbd;

  --primary-background: rgb(7, 8, 9);
  --primary-background-blur: rgba(7, 8, 9, 0.4);

  --secondary-background: #121212;

  --article-primary-color: #f1f1f1;
  --article-line-color: #676767;
  --article-tag-color: #bb66ef;
  --article-accent-color: #d2d2d2;
  --article-secondary-color: #a5a5a5;

  --paginate-primary-color: #f1f1f1;
  --paginate-secondary-color: #a5a5a5;

  --project-accent-color: #d2d2d2;

  --footer-bg-color: #070809;
  --blog-header-color: #f1f1f1;
  --blog-header-2-color: #f1f1f1;
  --blog-list-color: #d2d2d2;

  // --blur-effect: url(../../assets/home-ellipse-1.png);

  // --blur-effect-position: bottom -650px right 0px;
  --mobile-article-background: #121212;
  --mobile-nav-background: #161616;
  --mobile-nav-line-color: #272727;

  --single-post-accent-color: #d2d2d2;
  --mobile-nav-btn-bg-color: rgba(54, 54, 54, 0.9);

  --mobile-nav-text-color: #989fa3;

  --single-post-accent-color: #d2d2d2;

  --blockquote-line-color: #d2d2d2;

  --blog-post-primary-text-color: #a5a5a5;
  --blog-post-secondary-color: #f3f3f3;

  --blog-contributions-bg-color: #1e1e1e;
  --blog-contributions-text-color: #f1f1f1;
  --single-post-gradient: rgba(161, 54, 188, 0.8);
  --single-post-gradient-opacity: 0.8;
  --home-gradient-opacity: 0.8;
}
