html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: 300ms $transition-1;
}

html,
body {
  min-height: 100%;
}

* {
  font-family: "Cabinet Grotesk", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  font-size: 100%;
  font-style: normal;
  font-kerning: normal;
  background: var(--primary-background);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

.inline_flex {
  display: inline-flex;
  align-items: center;
}

.blur_effect {
  position: absolute;
  z-index: -10;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 524px;
  background-image: var(--blur-effect);
  background-position: var(--blur-effect-position);
  background-repeat: no-repeat;
}
