html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: $transition-1;
  font-style: normal;
  font-weight: normal;
  font-family: "Cabinet Grotesk", sans-serif;
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
  transition: none;
}
html,
body {
  min-height: 100%;
}
body {
  width: 100%;
  margin: auto;
  font-size: 100%;
  font-style: normal;
  font-kerning: normal;
  background: var(--primary-background);
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
a {
  color: inherit;
  font-family: "Satoshi", sans-serif !important;
  text-decoration: none;
  span {
    font-family: "Satoshi", sans-serif !important;
  }
}
.inline_flex {
  display: inline-flex;
  align-items: center;
}
.blur_effect {
  position: absolute;
  z-index: -10;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 524px;
  background-image: var(--blur-effect);
  background-position: var(--blur-effect-position);
  background-repeat: no-repeat;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.blur-effect {
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -10;
  div {
    position: relative;
    div:first-child {
      margin-top: 300px;
      margin-left: 300px;
      width: 384.97px;
      height: 363.28px;
      border-radius: 50%;
      filter: blur(180px);
    }
  }
}

@media screen and (max-width: 540px) {
  .blur-effect {
    div {
      div {
        width: 260.06px !important;
        height: 189.94px !important;
      }
    }
  }
}

.copy_container {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border-radius: 6px;
  backdrop-filter: filter(16px);
  padding: 2px 8px;
  cursor: pointer;
  span {
    font-size: $font-size-7;
    color: var(--blog-post-primary-text-color) !important;
  }
  svg {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    display: block !important;
    stroke: var(--blog-post-primary-text-color);
    path {
      stroke: var(--blog-post-primary-text-color);
    }
  }
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.w-full {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.margin-auto {
  margin: 0 auto;
}
.items-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}
.text-underline {
  text-decoration: underline;
}