html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: $transition-1;
}
*:focus {
  transition: none;
}
html,
body {
  min-height: 100%;
}

* {
  font-family: "Cabinet Grotesk", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  font-size: 100%;
  font-style: normal;
  font-kerning: normal;
  background: var(--primary-background);
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.inline_flex {
  display: inline-flex;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.copy_container {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  border-radius: 6px;
  backdrop-filter: filter(16px);
  padding: 2px 8px;
  cursor: pointer;
  span {
    font-size: $font-size-7;
    color: var(--blog-post-primary-text-color) !important;
  }
  svg {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    display: block !important;
    stroke: var(--blog-post-primary-text-color);
    path {
      stroke: var(--blog-post-primary-text-color);
    }
  }
}
